# GENERAL


DATABASE_PATH="./database"

# DATA PREPROCESSOR
CHUNK_SIZE=300

# SENTENCE TRANSFORMER
SENTENCE_TRANSFORMER_MODEL="all-MiniLM-L6-v2"

# VECTOR DB
TOP_K=10
SNAPSHOT_PATH="./tmp/db.npy"

# OLLAMA
OLLAMA_BASE_URL="http://localhost:11434"
OLLAMA_MODEL="gemma3:4b"

# EVAL
NUM_REQUESTS=50
WARMUP_REQUESTS=3